<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:font-style="http://www.w3.org/1999/xhtml">
    <head>
    	<title>Birthday Message</title>
    </head>
    <body>
        <div style="width: 85%; margin: 16px auto 0; border: 1px solid rgba(0,0,0,0.2); height: auto; border: 1px solid grey; border-radius: 10px;">
            <div style="padding: 15px 5px 0px 10px;text-align: center; font-size: 25px; font-weight: bold;">Happy Birthday Mama</div>
            <div style="overflow: auto; margin-bottom: 30px;">
                <div style="padding: 1px; margin: 15px 10px 0;">
                    <p style="">
                        <img th:src="${messageDTO.userDTO.imageLink}"
                             width="250" height="250" style="border-radius: 15px; float: left; margin-right: 15px;">
                        <div style="text-align: justify;" th:text="${messageDTO.message}"></div>
                        <div style="margin-top: 20px;">
                            Sender: <span th:text="${messageDTO.userDTO.fullname}"></span>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>