body {
	padding: 0px !important;
	margin: 0px !important;
	background-color: aliceblue !important;
	background-image: url("../images/bkimg (1).webp");
	background-size: cover;
}

.headerOne {
	text-align: center;
	margin-top: 25px;
	font-family: Comic Sans MS;
	color: darkblue;
}

.nameHeader {
	color: darkblue;
	font-family: Comic Sans MS;
	text-align: center; margin-top: 20px;
}

.img-div {
	text-align: center;
}

.container {
	margin-top: 50px !important;
}

.img-cl {
	width: inherit;
	height: inherit;
	border-radius: 10px;
}

.form-div {
	width: 350px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.enDiv {
	background-size: cover;
	margin: 0 auto;
}

label {
	color: #888888;
}






.header{
	text-align: center;
	background-color: rgb(18, 30, 49) !important;
	color: white !important;
}

.content{
	text-align: center;
	margin-top: 100px;
}

.add, .view{
	width: 200px;
	height: 110px;
	text-align: center;
	font-weight: bold;
}

.show_{
	display: block; !important;
	-webkit-animation: fadein 1s !important;
	-moz-animation: fadein 1s !important;
	-ms-animation: fadein 1s !important;
	-o-animation: fadein 1s !important;
	animation: fadein 1s !important;
}

.hide_{
	display: none;
}

.modal_ {
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.modal-content {
	margin: 50px auto 0 auto !important;
	position: relative;
	background-color: #fefefe;
	padding: 0;
	border: 1px solid #888;
	width: 60% !important;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animatetop !important;
	-webkit-animation-duration: 0.4s !important;
	animation-name: animatetop !important;
	animation-duration: 0.4s !important;
}

@-webkit-keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}

@keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}

.modal-body {
	padding: 2px 16px;
}

.centralize{
	text-align: center !important;
}